.card {
    background-color: #3f454e;
    color: #f2f2f2;
    width: 360px;
    padding: 10px;
    text-align: center;
    margin: 22px;
    border-radius: 15px;
}

.card-title {
    padding-left: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    font-size: 1.7em;
    margin: 8px;
}

.card-body {
    padding: 10px;
    background-color: #cccccc;
    color: black;
    margin: 10px;
    height: auto;
}

button {
    background-color: #3f454e;
    border: none;
}

// .favorite-card-style {
//     background-color: blue;
// }