.card {
    background-color: $card-background-color;
    border-radius: 15px;
    color: $main-white-color;
    height: 320px;
    padding: 10px;
    text-align: center;
    margin: 22px;
    width: 400px;
}

.card-div {
    display: flex;
    flex-direction: column;
    height: 320px;
    justify-content: center;
}

.card-title {
    align-items: center;
    display: flex;
    font-size: 1.9em;
    height: 42px;
    justify-content: space-between;
    margin: 8px;
    margin-bottom: 30px;
    padding-left: 6px;
}

.card-body {
    background-color: $card-body-color;
    color: black;
    height: auto;
    margin: 10px;
    padding: 10px;
}

button {
    background-color: $general-button-color;
    border: none;
}