.card {
    background-color: #36888d;
    color: #f2f2f2;
    width: 225px;
    padding: 10px;
    text-align: center;
    margin: 22px;
    border-radius: 15px;
}

.card-body {
    padding: 10px;
    background-color: #f2f2f2;
    color: black;
    margin: 10px;
}