.navigation-container {
    align-items: center;
    background-color: #011c44;
    color: $main-white-color;
    display: flex;
    height: 87px;
    justify-content: center;
    position: relative;
    top: 0;
    transition: all 0.5s;
    z-index: 1;
}

a,
a:visited.people-link,
a:visited.planets-link,
a:visited.vehicles-link,
a:visited.favorites-link {
    color: $main-white-color;
    text-decoration: none;
    letter-spacing: 1px;
}

a:hover.people-link {
    color: $main-turquoise-color;
}

a:hover.planets-link {
    color: $main-dark-red-color;
}

a:hover.vehicles-link {
    color: $main-green-color;
}

a:hover.favorites-link {
    color: $main-yellow-color;
}

.fixed-nav {
    align-items: center;
    background-color: black;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

.logo {
    background: #fff;
    color: black;
    font-weight: 600;
    max-width: 0;
    overflow: hidden;
    transition: all 0.4s;
}

.fixed-nav .logo {
    align-items: center;
    display: flex;
    flex-direction: column; 
    font-size: 22px;
    height: 50px;
    justify-content: center;
    max-width: 500px;
    margin: 10px;
    width: 150px;
}

.people-link,
.planets-link,
.vehicles-link,
.favorites-link {
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    line-height: 35px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    width: 200px;
}

.fa-male {
    color: $main-turquoise-color;
}

.fa-globe {
    color: $main-dark-red-color;
}

.fa-fighter-jet {
    color: $main-green-color;
}

.fa-star {
    color: $main-yellow-color;
}

.fas,
.far {
    font-size: 25px;
}
