.navigation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #011c44;
    color: #e2dbd3;
    height: 87px;
    position: relative;
    top: 0;
    transition: all 0.5s;
    z-index: 1;
}

a {
    color: #e2dbd3;
    text-decoration: none;
    letter-spacing: 1px;
}

a:visited {
    color: #e2dbd3;
}

a:hover {
    color: #8895ab;
}

.fixed-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
    background-color: black;
    width: 100%;
}

.logo {
    max-width: 0;
    overflow: hidden;
    background: white;
    transition: all 0.4s;
    font-weight: 600;
    color: black;
}

.fixed-nav .logo {
    display: flex;
    flex-direction: column; 
    max-width: 500px;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 150px;
    height: 50px;
}

.people-link,
.planets-link,
.vehicles-link,
.favorites-link {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    line-height: 35px;
    // border-left: 1px solid #e2dbd3;
    // border-right: 1px solid #e2dbd3;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 200px;
}

.fa-male {
    color: #36898d;
}

.fa-globe {
    color: #9e4e5f;
}

.fa-fighter-jet {
    color: #419959;
}

.fa-star {
    color: #c6c549;
}

.fas,
.far {
    font-size: 25px;
}