.header {
    align-items: center;
    background: url(images/r2d2-image.jpg);
    background-repeat: no-repeat;
    background-size: 102% 443px;
    color: black;
    display: flex;
    flex-flow: column;
    height: 225px;
    justify-content: center;
}

.header-text {
    color: #011c44;
    font-family: $main-title-font;
    font-size: 83px;
    font-weight: 900;
    margin-left: -523px;
    margin-top: 243px;
    text-shadow: 2px 2px 5px $title-shadow-color;
}

.light-saber {
    height: 45px;
    margin-left: -2px;
    margin-right: 6px;
    transform: rotate(10deg);
}