.header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: black;
    height: 250px;
    background: url(images/r2d2-image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 350px;
}

.header-text {
    font-family: 'Orbitron', sans-serif;
    font-size: 72px;
    font-weight: 900;
    margin-left: -427px;
    margin-top: 262px;
    color: #011c44;
    text-shadow: 2px 2px 6px #ff8e8b;
}

.light-saber {
    height: 45px;
    transform: rotate(10deg);
    margin-left: -2px;
    margin-right: 6px;
}