$main-title-font: 'Orbitron', sans-serif;
$card-background-color: #3f454e;
$main-white-color: #f2f2f2;
$card-body-color: #cccccc;
$general-button-color: #3f454e; 
$title-shadow-color: #ff8e8b;
$main-turquoise-color: #36898d;
$main-dark-red-color: #9e4e5f;
$main-green-color: #419959;
$main-yellow-color: #c6c549;
$scroll-text-color: #feda4a;