@import './normalize';
@import './_variables';
@import './components/App/App';
@import './components/Card/Card';
@import './components/CardContainer/CardContainer';
@import './components/Header/Header';
@import './components/Navigation/Navigation';
@import './components/ScrollText/ScrollText';
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

* {
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
}

body {
    width: 100%;
    height: 100%;
    background: #000;
    // overflow: hidden;
}

